Repository AveZorgen/ai-accelerators-course-2025, changes with the labels that .github/labeler.yml gives for each.
All labels: 01-softmax-cpu, 02-softmax-cuda, 03-matmul-cuda, 04-softmax-ascend, 05-mixed-ascend, docs, ci

test
  tasks/01-softmax-cpu/akulikov/CMakeLists.txt
  tasks/01-softmax-cpu/akulikov/main.cpp
  tasks/03-matmul-cuda/example/main.cu
Labels: 01-softmax-cpu, 03-matmul-cuda

test
  tasks/01-softmax-cpu/akulikov/CMakeLists.txt
  tasks/01-softmax-cpu/akulikov/main.cpp
  tasks/03-matmul-cuda/example/main.cu
Labels: 01-softmax-cpu, 03-matmul-cuda

Update main.cpp
  tasks/01-softmax-cpu/akulikov/main.cpp
Labels: 01-softmax-cpu

Update main.yml
  .github/workflows/main.yml
Labels: ci

update ci for cutlass
  .github/workflows/main.yml
  tasks/03-matmul-cuda/akulikov/CMakeLists.txt
Labels: 03-matmul-cuda, ci

impl lab4
  .gitignore
  tasks/04-softmax-ascend/akulikov/CMakeLists.txt
  tasks/04-softmax-ascend/akulikov/cmake/cpu_lib.cmake
  tasks/04-softmax-ascend/akulikov/cmake/npu_lib.cmake
  tasks/04-softmax-ascend/akulikov/data_utils.h
  tasks/04-softmax-ascend/akulikov/main.cpp
  tasks/04-softmax-ascend/akulikov/run.sh
  tasks/04-softmax-ascend/akulikov/scripts/gen_data.py
  tasks/04-softmax-ascend/akulikov/scripts/verify_result.py
  tasks/04-softmax-ascend/akulikov/softmax_custom.cpp
Labels: 04-softmax-ascend

impl lab5
  tasks/05-mixed-ascend/CMakeLists.txt
  tasks/05-mixed-ascend/akulikov/CMakeLists.txt
  tasks/05-mixed-ascend/akulikov/README.md
  tasks/05-mixed-ascend/akulikov/cmake/cpu_lib.cmake
  tasks/05-mixed-ascend/akulikov/cmake/npu_lib.cmake
  tasks/05-mixed-ascend/akulikov/data_utils.h
  tasks/05-mixed-ascend/akulikov/main.cpp
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom.cpp
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom_tiling.cpp
  tasks/05-mixed-ascend/akulikov/run.sh
  tasks/05-mixed-ascend/akulikov/scripts/gen_data.py
  tasks/05-mixed-ascend/akulikov/scripts/verify_result.py
Labels: 05-mixed-ascend

updates
  tasks/05-mixed-ascend/akulikov/main.cpp
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom.cpp
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom_tiling.cpp
  tasks/05-mixed-ascend/akulikov/scripts/gen_data.py
Labels: 05-mixed-ascend

working
  tasks/05-mixed-ascend/akulikov/.gitignore
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom.cpp
  tasks/05-mixed-ascend/akulikov/scripts/verify_result.py
Labels: 05-mixed-ascend

v1
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom.cpp
Labels: 05-mixed-ascend

v2
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom.cpp
Labels: 05-mixed-ascend

sub
  tasks/05-mixed-ascend/akulikov/.gitignore
  tasks/05-mixed-ascend/akulikov/main.cpp
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom.cpp
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom_tiling.cpp
  tasks/05-mixed-ascend/akulikov/scripts/gen_data.py
  tasks/05-mixed-ascend/akulikov/scripts/verify_result.py
Labels: 05-mixed-ascend

impl lab5
  tasks/05-mixed-ascend/akulikov/.gitignore
  tasks/05-mixed-ascend/akulikov/CMakeLists.txt
  tasks/05-mixed-ascend/akulikov/README.md
  tasks/05-mixed-ascend/akulikov/cmake/cpu_lib.cmake
  tasks/05-mixed-ascend/akulikov/cmake/npu_lib.cmake
  tasks/05-mixed-ascend/akulikov/data_utils.h
  tasks/05-mixed-ascend/akulikov/main.cpp
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom.cpp
  tasks/05-mixed-ascend/akulikov/matmul_leakyrelu_custom_tiling.cpp
  tasks/05-mixed-ascend/akulikov/run.sh
  tasks/05-mixed-ascend/akulikov/scripts/gen_data.py
  tasks/05-mixed-ascend/akulikov/scripts/verify_result.py
Labels: 05-mixed-ascend

.github/labeler.yml:

'01-softmax-cpu':
 - "tasks/01-softmax-cpu/**"
'02-softmax-cuda':
 - "tasks/02-softmax-cuda/**"
'03-matmul-cuda':
 - "tasks/03-matmul-cuda/**"
'04-softmax-ascend':
 - "tasks/04-softmax-ascend/**"
'05-mixed-ascend':
 - "tasks/05-mixed-ascend/**"

docs:
 - "README.md"
 - "LICENSE.txt"

ci:
 - ".github/**"
